body
  box-sizing border-box
  margin 0
  padding  0
  background  whitesmoke

.wrap
  display flex
  flex-wrap wrap
  justify-content center
  align-items center
.carousel
  margin 10px 10px
  width 40%
  border 5px solid #222
  box-sizing border-box

.item
  cursor pointer
  animation-name: fade
  animation-duration: 3.5s;


.fade
  animation-name: fade
  animation-duration: 3.5s

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
